<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center gradient-aqua-marine">
                <div class="card p-4 box-shadow-2 width-400">
                    <div class="card-header text-center">
                        <img src="assets/img/logos/logo.png" alt="company-logo" class="mb-3" width="100">
                        <h4 class="text-uppercase text-bold-400 grey darken-1">User Management</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <form novalidate="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-lg" formControlName="inputUser" id="inputUser" placeholder="Username">
                                        <small class="form-text text-muted danger" *ngIf="!loginForm.get('inputUser').valid && (loginForm.get('inputUser').dirty || loginForm.get('inputUser').touched)">Username is required!</small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="password" class="form-control form-control-lg" formControlName="inputPass" id="inputPass" placeholder="Password">
                                        <small class="form-text text-muted danger" *ngIf="!loginForm.get('inputPass').valid && (loginForm.get('inputPass').dirty || loginForm.get('inputPass').touched)">Password is required!</small>
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-5">
                                                <input type="checkbox" class="custom-control-input" checked id="rememberme">
                                                <label class="custom-control-label float-left" for="rememberme">Remember Me</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-danger btn-raised px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0 mr-1">Log In</button>
                                </div>

                                <!-- <div class="form-group">
                                    <div class="text-center col-md-12">
                                        <button type="submit" class="btn btn-danger btn-raised px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0 mr-1">Log In</button>
                                        <button type="submit" class="btn btn-danger btn-raised px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0">Register</button>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="card-footer grey darken-1">
                        <div class="text-center mb-1">Forgot Password? <a (click)="onForgotPassword()"><b>Reset</b></a></div>
                        <div class="text-center">Don't have an account? <a (click)="onRegister()"><b>Signup</b></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->