<!-- User Profile Starts-->
<!--Basic User Details Starts-->
<!-- <section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover">
                <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/14.jpeg') 50%;"></div>
                <div class="media profil-cover-details row">
                    <div class="col-5 mr-auto">
                        <div class="align-self-start halfway-fab pl-3 pt-2">
                            <div class="text-left">
                                <h3 class="card-title white">Jose Diaz</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-cover-buttons">
                    <div class="media-body halfway-fab align-self-end">
                        <div class="text-right d-none d-sm-none d-md-none d-lg-block">
                            <button type="button" class="btn btn-primary btn-raised mr-2"><i class="fa fa-plus"></i> Follow</button>
                            <button type="button" class="btn btn-success btn-raised mr-3"><i class="fa fa-dashcube"></i> Message</button>
                        </div>
                        <div class="text-right d-block d-sm-block d-md-block d-lg-none">
                            <button type="button" class="btn btn-primary btn-raised mr-2"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-success btn-raised mr-3"><i class="fa fa-dashcube"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--Basic User Details Ends-->
<section id="user-area">
    <div class="row">
        <div class="col-xl-3 col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-title-wrap bar-primary">
                        <div class="card-title">Personal Information</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="align-self-center halfway-fab text-center">
                            <a class="profile-image">
                                <img src="assets/img/portrait/medium/avatar-m-9.jpg" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
                            </a>
                        </div>
                        <div class="text-center">
                            <span class="font-medium-2 text-uppercase">{{users.name}}</span>
                            <p class="grey font-small-2">Ninja Developer</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <ul class="no-list-style pl-0 text-center">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Birthday:</a></span>
                                        <span class="display-block overflow-hidden">{{users.dob}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> Lives in:</a></span>
                                        <span class="display-block overflow-hidden">{{users.address}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Gender:</a></span>
                                        <span class="display-block overflow-hidden">{{users.gender}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Email:</a></span>
                                        <a class="display-block overflow-hidden">{{users.email}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-6">
                                <ul class="no-list-style pl-0 text-center">                                    
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> Website:</a></span>
                                        <a class="display-block overflow-hidden">pixinvent.com</a>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Phone Number:</a></span>
                                        <span class="display-block overflow-hidden">(012)345-678-99</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i> Occupation:</a></span>
                                        <span class="display-block overflow-hidden">Ninja Developer</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> Joined:</a></span>
                                        <span class="display-block overflow-hidden">April 1st, 2012</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-title-wrap bar-danger">
                        <div class="card-title">Hobbies</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-plane danger font-medium-3"></i> <div class="mt-1">Travelling</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-speedometer danger font-medium-3"></i> <div class="mt-1">Driving</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-camera danger font-medium-3"></i> <div class="mt-1">Photography</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-game-controller danger font-medium-3"></i> <div class="mt-1">Gaming</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-music-tone-alt danger font-medium-3"></i> <div class="mt-1">Music</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-monitor danger font-medium-3"></i> <div class="mt-1">Surfing</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-pie-chart danger font-medium-3"></i> <div class="mt-1">Foodie</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-tv danger font-medium-3"></i> <div class="mt-1">TV</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-basket-loaded danger font-medium-3"></i> <div class="mt-1">Shopping</div></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <div class="card-title">Photos</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/1.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/2.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/3.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/4.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/5.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/6.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/7.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/8.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                <img class="img-thumbnail img-fluid" src="./assets/img/gallery/9.jpg" itemprop="thumbnail" alt="Image description" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12">
            <!--About div starts-->
            <div id="about">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-info">
                                    <div class="card-title">About</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary">About Me:</span>
                                        <span class="display-block overflow-hidden">Hi, I’m Jose, I’m 29 and I work as a Ninja Developer for the
                                            “PIXINVENT” Creative Studio. In my research, I follow the flow of early medieval slavery from viking 
                                            raids in the west, through the booming ports of the Scandinavian north, and out into the Islamic world.
                                            Reading texts against the grain and seeing artifacts as traces of the past can make their lives once 
                                            again visible to us today. This website documents my efforts to do just that, and I hope it will prove 
                                            a resource and an inspiration for others in similar pursuits.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-warning">
                                    <div class="card-title">Educational Information</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <ul class="no-list-style">
                                                <li class="mb-2">
                                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Broklin Institute</a></span>
                                                    <span class="grey line-height-0 display-block mb-2 font-small-2">2008 - 2009</span>
                                                    <span class="line-height-2 display-block overflow-hidden">Professor: Leonardo Stagg. Six months of best Developing tools course.</span>
                                                </li>
                                                <li class="mb-2">
                                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> The Ninja College </a></span>
                                                    <span class="grey line-height-0 display-block mb-2 font-small-2">2012 - 2013</span>
                                                    <span class="line-height-2 display-block overflow-hidden">Professor: Steve Ustreil. Gave me the best educational information for Ninja.</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <ul class="no-list-style">
                                                <li class="mb-2">
                                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Ninja Developer</a></span>
                                                    <span class="grey line-height-0 display-block mb-2 font-small-2">2009-2011</span>
                                                    <span class="line-height-2 display-block overflow-hidden">Ninja Developer for the “PIXINVENT” creative studio. </span>
                                                </li>
                                                <li class="mb-2">
                                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> Senior Ninja Developer</a></span>
                                                    <span class="grey line-height-0 display-block mb-2 font-small-2">2014-Now</span>
                                                    <span class="line-height-2 display-block overflow-hidden">Senior Ninja Developer for the “PIXINVENT” creative studio.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--About div ends-->

            <!--User Timeline div starts-->
            <div id="timeline">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-primary">
                            <div class="card-title">User Timeline</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="timeline">
                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">April 2018</div>
                                <ul class="list-unstyled base-timeline activity-timeline">

                                    <li class="">
                                        <div class="timeline-icon bg-danger">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                        <div class="act-time">Today</div>
                                        <div class="base-timeline-info">
                                            <a href="#" class="text-uppercase text-danger">Task Added</a>
                                            <span class="d-block">You have added task #15 Successfully to the project “Convex”</span>
                                        </div>
                                        <small class="text-muted">
                                            25 mins ago
                                        </small>
                                    </li>
                                    <li class="">
                                        <div class="timeline-icon bg-primary">
                                            <i class="fa fa-handshake-o"></i>
                                        </div>
                                        <div class="act-time">Yesterday</div>
                                        <div class="base-timeline-info">
                                            <a href="#" class="text-uppercase text-primary">Deal Added</a>
                                            <span class="d-block">Final deal with PIXINVENT is done and added to the “Next deal” list</span>
                                        </div>
                                        <small class="text-muted">
                                            23 hours ago
                                        </small>
                                    </li>
                                </ul>

                                <br>

                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">March 2018</div>
                                <ul class="list-unstyled base-timeline activity-timeline">

                                    <li class="">
                                        <div class="timeline-icon bg-dark">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                        <div class="act-time">09 March</div>
                                        <div class="base-timeline-info">
                                            <a href="#" class="text-uppercase text-dark">Task Added</a>
                                            <span class="d-block">You have added task #11 Successfully to the project “Convex”</span>
                                        </div>
                                        <small class="text-muted">
                                            15 days ago
                                        </small>
                                    </li>
                                    <li class="">
                                        <div class="timeline-icon bg-warning">
                                            <i class="fa fa-handshake-o"></i>
                                        </div>
                                        <div class="act-time">04 March</div>
                                        <div class="base-timeline-info">
                                            <a href="#" class="text-uppercase text-warning">Deal Added</a>
                                            <span class="d-block">Final deal with ABC Company is done and added to the “Upcoming deal” list</span>
                                        </div>
                                        <small class="text-muted">
                                            20 days ago
                                        </small>
                                    </li>
                                </ul>

                                <br>

                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">February 2018</div>
                                <ul class="list-unstyled base-timeline activity-timeline">

                                    <li class="">
                                        <div class="timeline-icon bg-purple">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                        <div class="act-time">15 February</div>
                                        <div class="base-timeline-info">
                                            <a href="#" class="text-uppercase text-purple">Task Added</a>
                                            <span class="d-block">You have added task #06 Successfully to the project “Convex”</span>
                                        </div>
                                        <small class="text-muted">
                                            1 month ago
                                        </small>
                                    </li>
                                    <li class="">
                                        <div class="timeline-icon bg-danger">
                                            <i class="fa fa-calendar-o"></i>
                                        </div>
                                        <div class="act-time">06 February</div>
                                        <div class="base-timeline-info">
                                            <a href="#" class="text-uppercase text-danger">Event Created</a>
                                            <span class="d-block">Final deal with Geekslabs Company is done and added to the “New deal” list</span>
                                        </div>
                                        <small class="text-muted">
                                            1 month ago
                                        </small>
                                    </li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--User Timeline div ends-->
        </div>
    </div>
</section>
<!--User Profile Starts-->