<section class="basic-elements">
	<div class="row">
	    <div class="col-md-6">
	        <div class="content-header">Newsletter</div>
	    </div>
	</div>
	<div class="row" *ngIf="showTable">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<!-- <div class="card-title-wrap bar-success">
						<p>Email Templates</p>
						<p><a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addnews()"><span class="ft-plus"></span>Create Newsletter</a></p>
					</div> -->
					<div class="row">
					    <div class="col-sm-12" style="text-align: right;">
					        <p>
					            <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addnews()"><span class="ft-plus"></span>Create Newsletter</a>
					        </p>
					    </div>
					</div>
					<div class="card-body">
              <div class="card-block">
								<ngx-datatable class="material" class="bootstrap" [rows]="newsletterDetails" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['name', 'subject', 'status', 'date'], dir: 'desc'}]" [limit]="10">
                    <ngx-datatable-column name="Name">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.name}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Subject">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.subject}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status">
											<ng-template let-row="row" ngx-datatable-cell-template>
													{{row.status}}
											</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Date">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.date | date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Action">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a (click)="sendnewsletter(row.id);" *ngIf="row.status == 'Pending'">Send Email</a>
														<a *ngIf="row.status == 'Sent'">Email Sent</a>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

								<!-- <ng2-smart-table [settings]="settings" [source]="newsletterDetails"></ng2-smart-table> -->



                  <!-- <table class="table table-responsive-sm"> [sorts]="[{prop: 'date', dir: 'desc'}, {prop: 'name', dir: 'desc'}]"
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Subject</th>
                              <th>Status</th>
                              <th>Sent Date</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let newsletterdata of newsletterDetails | paginate: { itemsPerPage: 5, currentPage: p }">
                              <td>{{newsletterdata.name}}</td>
                              <td>{{newsletterdata.subject}}</td>
                              <td>{{newsletterdata.status}}</td>
                              <td>{{newsletterdata.date | date}}</td>
                              <td *ngIf="newsletterdata.status == 'Pending'"><a (click)="sendnewsletter(newsletterdata.id);">Send Email</a></td>
                				<td *ngIf="newsletterdata.status == 'Sent'">Email Sent</td>
                          </tr>
                      </tbody>
                  </table>
                  <div class="col-12 paginationonAction">
                  	<span class="total">{{collectionSize}} Total</span>
                  	<ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                </div> -->
              </div>
        	</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="!showTable">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-body">
            <div class="card-block">
							<form>
                <div class="row">
                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Name Of Newsletter</label>
                            <input class="form-control" name="name" [(ngModel)]="newsLetter.name" placeholder="Enter Newsletter Name" type="text">
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Subject</label>
                            <input class="form-control" name="subject" [(ngModel)]="newsLetter.subject" placeholder="Enter Subject" type="text">
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Select List</label>
                            <select class="form-control" name="list" [(ngModel)]="newsLetter.list" (change)="checkvalue($event.target.value)">
                                <option value="Select List">Select List</option>
                                <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                            </select>
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>To</label>
                            <input class="form-control" name="to" [(ngModel)]="newsLetter.to" placeholder="Enter Recipents Email(comma sepeareted for multiple receivers)" type="email" email [attr.disabled]="condition ? '' : null">
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Cc</label>
                            <input class="form-control" name="cc" [(ngModel)]="newsLetter.cc" placeholder="Enter Cc Email(comma sepeareted for multiple receivers)" type="email" email>
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Bcc</label>
                            <input class="form-control" name="bcc" [(ngModel)]="newsLetter.bcc" placeholder="Enter Bcc Email(comma sepeareted for multiple receivers)" type="email" email>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="form-group">
                            <label>Choose Template</label>
														<select class="form-control" [(ngModel)]="newsLetter.template" name="template" (change)="displayTemplate($event.target.value)">
															<option value="">Choose Template</option>
															<option *ngFor="let template of emailTemplates" value="{{template.id}}">{{template.name}}</option>
														</select>
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <label>Email Content</label>
                        <fieldset class="form-group">
													<div [froalaEditor]="options" #my_editor name="body" [(ngModel)]="newsLetter.body"></div>
                        </fieldset>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary" (click)="sendtestmail()">Send Test</button>&nbsp;
                <button type="submit" class="btn btn-secondary" (click)="saveNewsletter()">Save Newsletter</button>&nbsp;
                <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
            	</form>
            </div>
        	</div>
				</div>
			</div>
		</div>
	</div>
</section>
